{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
    {{ field.label }}
    {% if field.type == 'TextAreaField' %}
      {{ field(rows=10, cols=40, style="height : auto", class="u-full_width") }}
    {% elif field.type == 'MarkdownEditField' %}
	{{ field(rows=25, cols=40, class="u-full-width") }}
    {% elif field.type == 'BooleanField' %}
	{{ field() }}
    {% else %}
      {{ field(class="u-full-width") }}
    {% endif %}
    {% if field.errors or field.help_text %}
      <span class="help-inline">
      {% if field.errors %}
        {% for error in field.errors %}
            {{ error }}<br>
        {% endfor %}
      {% else %}
        {{ field.help_text }}
      {% endif %}
      </span>
    {% endif %}
{% endif %}
{% endfor %}
<input class="button-primary u-pull-right" value="{{ _('Ok') }}" type="submit">
</fieldset>
{% endmacro %}

