<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{{ config.SITENAME }} | {{ _('Admin') }}</title>
      <meta name="description" content="{{ config.SITENAME }} administration">
      <meta name="author" content="TROUVERIE Joachim">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% endblock %}
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <div class="row">
          <img id="logo" alt="logo" src="{{ url_for('static', filename='img/logo.png') }}">
          <nav class="u-cf u-full-width">
            <a href="{{ url_for('admin.config') }}">{{ _('Configuration') }}</a>
            <a href="{{ url_for('admin.list_contents') }}">{{ _('Contents') }}</a>
            <a href="{{ url_for('admin.media') }}">{{ _('Media') }}</a>
            <a href="{{ url_for('admin.themes') }}">{{ _('Themes') }}</a>
            <a href="{{ url_for('admin.links') }}">{{ _('Links') }}</a>
            <a href="{{ url_for('admin.users') }}">{{ _('Users') }}</a>
            <a href="{{ url_for('admin.logout') }}">{{ _('Logout') }}</a>
          </nav>
        </div>
      </div>
    </header>
    
    <!-- content -->
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
