{% extends "admin/list.html" %}

{% block title %}{{ _('Comments') }}{% endblock %}

{% block table %}
  <tr>
    <th>{{ _('Author') }}</th>
    <th>{{ _('Date') }}</th>
    <th></th>
  </tr>
  {% for comment in objects %}
    <tr>
      <td>{{ comment.author }}</td>
      <td>{{ comment.date | date('dd MM yyyy HH:mm') }}</td>
      <td class="action">
        <form action="." method="POST">
          <input type="hidden" name="comment" value="{{ comment.uid }}">
          <button type="submit" class="transparent" title = "{{ _('Delete') }}">
            <i class="fi-x"></i>
          </button>
        </form>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
