{% extends "admin/model.html" %}

{% block head %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/markdown/markdown.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/xq-light.css">
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}        

{% block content %}
  {{ super() }}
    <script>
        var editor=new Editor( 'body', "{{ url_for('admin.upload') }}", "{{ url_for('admin.render') }}" );
    </script>
{% endblock %}
