{% extends "admin/model.html" %}

{% block head %}
    {{ super() }}
    {{ codemirror.include_codemirror() }}
    <script type=text/javascript src = "http://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script type=text/javascript src = "http://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>
    <script src = "{{ url_for('static', filename = 'js/editor.js') }}"></script>
    <script>
        f = function() {
            var editor = document.getElementsByClassName('CodeMirror')[0].CodeMirror;
            drawToolbar(editor);
            drawPreview(editor);
        }

        if (document.readyState === 'complete')
            f();
        else if (window.addEventListener)
            window.addEventListener("load", f, false);
        else if (window.attachEvent)
            window.attachEvent("onload", f);
        else
            f();
        
      </script> 
{% endblock %}        
