{% extends "admin/model.html" %}

{% block head %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/mode/markdown/markdown.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/theme/xq-light.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
{% endblock %}        

{% block content %}
    <h3>{{ title }}</h3>
    <form action="{{ url }}" method="POST">
        {{ forms.render(form) }}
	<script>
            var editor=new Editor( 'body', "{{ url_for('admin.upload') }}", "{{ url_for('admin.render') }}" );

	    /* Add select2 dropdown */
	    $("#category").select2({
		    tags: true
	    });
	    $("#tags").select2({
		    tags: true
	    });
	</script>
    </form>
{% endblock %}
