{% extends "admin/list.html" %}

{% block title %}{{ _('Contents') }}{% endblock %}

{% block table %}
  <thead>
    <tr>
      <th>{{ _('Title') }}</th>
      <th>{{ _('Date') }}</th>
      <th>{{ _('Type') }}</th>
      <th>{{ _('Status') }}</th>
      <th>{{ _('Comments') }}</th>
      <th>{{ _('Author') }}</th>
      <th colspan=3></th>
    </tr>
  </thead>
  <tbody>
    {% for content in objects.items %}
      <tr>
        <td>{{ content.title }}</td>
        <td>{{ content.published_date | date }}</td>
        <td>{{ content.content_type | title}}</td>
        <td>
          {% if content.draft_status %}
            {{ _('Draft') }}
          {% else %}
            {{ _('Published') }}
          {% endif %}
        </td>
        <td class="action">
          {% if content.comments.items %}
            <a href="{{ url_for('admin.comments', content_id=content.id) }}">
              <i class="fa fa-comments"></i>{{ content.comments.items |  length }}
            </a>
          {% endif %}
        </td>
        <td>{{ content.author.name }}</td>
        <td class="action">
          <a href="{{ url_for('admin.content', content_id=content.id) }}">
              <i class="fa fa-pencil" title="{{ _('Edit') }}"></i>
          </a>
        </td>
        <td class="action">
          <form method="POST" action="{{ url_for('admin.delete_content') }}">
            <input type="hidden" name="content" value="{{ content.id }}">
            <button type="submit" class="transparent fa fa-trash" title="{{ _('Delete') }}"></button>
	   </form>
        </td>
        <td class="action">
          {% if content.draft_status %}
            <form method="POST" action="{{ url_for('admin.publish_content') }}">
              <input type="hidden" name="content" value="{{ content.id }}">
              <button type="submit" class="transparent fa fa-check" title="{{ _('Publish') }}"></button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>  
{% endblock %}

{% block new %}
  <a href="{{ url_for('admin.content') }}" class="button button-primary">{{ _('New content') }}</a>
{% endblock %}
