{% extends "admin/list.html" %}

{% block title %}{{ _('Links') }}{% endblock %}

{% block new %}
  <a href="{{ url_for('admin.link') }}" class="button radius small">{{ _('New link') }}</a>
{% endblock %}

{% block table %}
  <tr>
    <th>{{ _('Link') }}</th>
    <th>{{ _('Category') }}</th>
    <th></th>
  </tr>
  {% for link in objects %}
    <tr>
      <td>{{ link.html | safe }}</td>     
      <td>{{ link.category }}</td>
      <td class="action">
        <form method="POST" action="{{ url_for('admin.delete_link') }}">
          <input type="hidden" name="link" value="{{ link.uid }}">
          <button type="submit" class="transparent fi-x" title="{{ _('Delete') }}"></button>
        </form>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
