{% extends "admin/base.html" %}

{% block content %}
  <h3>{% block title %}{% endblock %}</h3>
  {% block new %}{% endblock %}

  {% if objects %}
    <table class="model">{% block table %}{% endblock %}</table>
  {% endif %}

  {% block post_table %}{% endblock %}

    <div class="pagination-centered">
      {%- for obj in objects.iter_pages() -%}
        {%- if obj -%}
	  {%- if obj != objects.page -%}
            <a href="{{ url_for(url, page=page) }}">{{ page }}</a>
	  {%- else -%}
	    <b>{{ page }}</b>
	  {%- endif -%}
	{%- else -%}
	  ...
	{%- endif -%}
      {%- endfor -%}
    </div>
{% endblock %}
