{% extends "admin/base.html" %}

{% block content %}
  <h3>{% block title %}{% endblock %}</h3>

  {% if objects %}
    {% if objects.items | length > 0 %}
      <table class="model u-full-width">{% block table %}{% endblock %}</table>
    {% else %}
      <p class="info">No items here</p>
    {% endif %}
  {% endif %}

  {% block post_table %}{% endblock %}

  <div class="pagination-centered">
    {%- for obj in objects.iter_pages() -%}
      {%- if obj -%}
        {%- if obj != objects.page -%}
          <a href="{{ url_for(url, page=page) }}">{{ page }}</a>
	{%- else -%}
	  <b>{{ page }}</b>
	{%- endif -%}
      {%- else -%}
        ...
      {%- endif -%}
    {%- endfor -%}
  </div>

  <div class="u-pull-right">{% block new %}{% endblock %}</div>
{% endblock %}
