{% extends "admin/base.html" %}

{% block head %}
  {{ super() }}
  <script>
  document.onreadystatechange = function () {
      if (document.readyState == "complete") {
          // test dnd support
          if ( !!window.FormData ) {
              document.getElementById('dropbox').style.display = 'block';
              document.getElementById('dropbox').ondragover = function(event) {
                  event.preventDefault();
                  return false;
              };
              
              document.getElementById('dropbox').ondrop = function(event) {
                  event.preventDefault();
                  var formdata = new FormData();
                  // number of files
                  if ( event.dataTransfer.files.length === 1 ) {
                      // Ajax
                      formdata.append('file', event.dataTransfer.files[0]);
                      var httpRequest = new XMLHttpRequest();
                      httpRequest.onreadystatechange = function() {
                          if (httpRequest.readyState === 4) {
                              if (httpRequest.status === 200) {
                                  var data = JSON.parse(httpRequest.responseText);
                                  if (data.error) {
                                      alert(data.error);
                                  }
                                  else {
                                      var table = document.getElementsByClassName('model')[0];
                                      // append row to table
                                      var row = table.insertRow(-1);
                                      // first cell
                                      var cell = row.insertCell(0);
                                      var a = document.createElement('a');
                                      a.innerHTML = data.label;
                                      a.href = data.url;
                                      cell.appendChild(a);
                                      // second cell
                                      var actions = row.insertCell(1);
                                      actions.className = 'action';
                                      var form = document.createElement('form');
                                      form.method = 'POST';
                                      form.action = "{{ url_for('admin.delete_file') }}";
                                      var hidden = document.createElement('input');
                                      hidden.type = 'hidden';
                                      hidden.name = 'slug';
                                      hidden.value = data.slug;
                                      var button = document.createElement('button');
                                      button.type = 'submit';
                                      button.title = "{{ _('Delete') }}";
                                      button.className = 'fi-x transparent';
                                      form.appendChild(hidden);
                                      form.appendChild(button);
                                      actions.appendChild(form);
                                  }
                              }
                          }
                      }

                      httpRequest.open('POST', "{{ url_for('admin.upload') }}");
                      httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                      httpRequest.send(formdata);
                      
                  }
                  else alert("{{ _('Too many files') }}");
              }
          }
          else {
              // hide dnd and show regular form
              document.getElementById('dropbox').style.display = 'none';
              document.getElementById('regular_form').style.display = 'block';
          }
      }
  }
  </script>
{% endblock %}

{% block content %}
  <h3>{{ _('Media') }}</h3>

  <table class="model" style="{% if not objects %}display : none{% endif %}">
    <tr>
      <th>{{ _('Name') }}</th>
      <th><!-- action --></th>
    </tr>
    {% for file in objects %}
      <tr>
        <td><a href="{{ file.url }}">{{ file.name }}</a></td>
        <td class="action">
          <form action="{{ url_for('admin.delete_file') }}" method="POST">
            <input type="hidden" name="slug" value="{{file.slug }}">
            <button type="submit" title="{{ _('Delete') }}" class="transparent fi-x"></button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div id="dropbox">
    <span class="message">{{ _('Drop your files here') }}</span>
  </div>
  <fieldset id="regular_form" style="display : none">
    <form action="{{ url_for('admin.upload') }}" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="MAX_FILE_SIZE" value="5122">
      <input type="file" name="file" >
      <input class="button radius small right" value="{{ _('Upload') }}" type="submit">
    </form>
  </fieldset>

{% endblock %}


