{% extends "admin/base.html" %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script>
$(document).ready(function() {
  if (!!window.FormData) {
    $('#dropbox').show();
    $('#dropbox').bind({
      dragover: function(e) {
        e.preventDefault();
        return false;
      },
      drop: function(e) {
        e.preventDefault();
        var formdata = new FormData();
        if (event.dataTransfer.files.length === 1) {
          $.ajax({
            url: "/admin/upload/",
            type: 'POST',
            data: formdata,
            error: function(data) {
              alert(data.error);
            },
            success: function(data) {
             $('.model tbody:first')
              .append($('<tr>')
              .append($('<td>')
                .append($('<a>')
                  .text(data.label)
                  .attr('href', data.url)
                )
                ).append($('<td>')
                  .addClass('action')
                  .append($('<form>')
                    .attr('method', 'POST')
                    .attr('action', "/admin/delete-file/")
                    .append($('<input>')
                      .attr('type', 'hidden')
                      .attr('name', 'slug')
                      .value(data.slug)
                    ).append($('button')
                      .attr('type', 'submit')
                      .attr('title', "Delete")
                      .addClass('fa')
                      .addClass('fa-trash')
                    )
                  )
                )
              );  
            }
          }, 'json');
        }
        else {
          alert('Too many files to handle');
        }
      },
    });
  }
  else {
    // hide dnd and show regular form
    $('#dropbox').hide();
    $('#regular_form').show();
  }
});
  </script>
{% endblock %}

{% block content %}
  <h3>{{ _('Media') }}</h3>

  <table class="model" style="{% if not objects %}display : none{% endif %}">
    <tr>
      <th>{{ _('Name') }}</th>
      <th><!-- action --></th>
    </tr>
    {% for file in objects %}
      <tr>
        <td><a href="{{ file.url }}">{{ file.name }}</a></td>
        <td class="action">
          <form action="{{ url_for('admin.delete_file') }}" method="POST">
            <input type="hidden" name="slug" value="{{file.slug }}">
            <button type="submit" title="{{ _('Delete') }}" class="transparent fa fa-trash"></button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div id="dropbox">
    <span class="message">{{ _('Drop your files here') }}</span>
  </div>
  <fieldset id="regular_form" style="display : none">
    <form action="{{ url_for('admin.upload') }}" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="MAX_FILE_SIZE" value="5122">
      <input type="file" name="file" >
      <input class="button radius small right" value="{{ _('Upload') }}" type="submit">
    </form>
  </fieldset>

{% endblock %}


