{% extends "admin/list.html" %}

{% block title %}{{ _('Users') }}{% endblock %}

{% block new %}
  <a href="{{ url_for('admin.user') }}" class="button radius small">{{ _('New user') }}</a>
{% endblock %}

{% block table %}
  <tr>
    <th>{{ _('User name') }}</th>
    <th colspan=2></th>
  </tr>
  {% for user in objects %}
    <tr>
      <td>{{ user }}</td>
      <td class="action">
        <a href="{{ url_for('admin.user', user=user) }}">
            <i class="fi-torso" title="{{ _('Edit') }}"></i>
        </a>
      </td>
      <td class="action">
        {% if objects | length > 1 %}
          <form method="POST" action="{{ url_for('admin.delete_user') }}">
            <input type="hidden" name="user" value="{{ user }}">
            <button type="submit" class="transparent fi-x" title="{{ _('Delete') }}"></button>
          </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}      
