<!doctype html>
<html>
  <head>
    {% block head %}
      <meta charset=utf-8 />
      <meta name = "viewport" content = "width=device-width">
      {% if config.AUTHOR %}
        <meta name="author" content="{{ config.AUTHOR }}">
      {% endif %}
      {% if config.SUBTITLE %}
        <meta name="description" content="{{ config.SUBTITLE }}">
      {% endif %}
      {% if config.RSS == 'YES' %}
        <link rel="alternate" type="application/atom+xml" title = "content" href = "{{ url_for('feed') }}">
      {% endif %}       
      <title>{% block title %}{{ config.SITENAME }}{% endblock %}</title>

      <!-- Stylesheet -->
      <link rel="stylesheet" href="{{ theme_static('css/normalize.css') }}">
      <link rel="stylesheet" href="{{ theme_static('css/foundation.min.css') }}">
      
      <script src="{{ theme_static('js/custom.modernizr.js') }}"></script>
      
      <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    {% endblock %}
  </head>
  <body>
    <!-- Top Bar -->
    {% block topbar %}{% endblock %}
    
    <!-- Body -->
    {% block main %}{% endblock %}
  
    <!-- Footer -->
    {% block footer %}{% endblock %}  
  </body>
</html>


