{% extends theme("layout.html") %}

{% block content %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for page in objects %}
  <article>
    <a href="{{ url_for('page', path = page.path) }}">
      <h3 class="article-title">{{ page.title }}</h3>
    </a>
    <h6 class="subheader">
      {{ page.published | date('EE dd MMMM YYYY') }}
      {% if page.comments and config.COMMENTS == 'YES' %}
        {% with total = page.comments | length %}
          | {{ ngettext('%(num)s comment', '%(num)s comments', total) }}
        {% endwith %}  
      {% endif %}
      {% if page.author %}
        | <b>{{ page.author }}</b>
      {% endif %}
    </h6>
    {{ page.summary | safe }}
    <a class="button radius small" href="{{ url_for('page', path = page.path) }}">{{ _('Read more') }}</a>
    <p class="subheader">
      {{ _('Category') }} : <a href="{{ url_for('category', category = page.category) }}">{{ page.category }}</a>
      {% if page.tags %}
        {{ _('Tags') }} : 
        {% for tag in page.tags.split(',') %}
          <a href="{{ url_for('tag', tag = tag) }}">{{ tag }}</a>&nbsp;
        {% endfor %}
      {% endif %}
    </p>      
  </article>
  <hr class = "gradient">
{% endfor %}
<br />
<div class = "pagination-centered">
  {{ pagination.links | safe }}
</div>
{% endblock %}
