{% extends theme("layout.html") %}

{% block head %}
  {{ super() }}
  {% if page.comments and config.RSS == 'YES' and config.COMMENTS == 'YES' %}
    <link rel="alternate" type="application/atom+xml" title="comments" href="{{ url_for('frontend.comments_feeds', path=page.path) }}">
  {% endif %}
{% endblock %}

{% block content %}
  <h3>{{ page.title }}</h3>
  <h6 class="subheader">
  {% if page.published %}
    {{ page.published | date('EE dd MMMM YYYY') }} |
  {% endif %}
  <b>{{ page.author }}</b>
  </h6>
  {{ page }}
  {% include "page_bottom.html" %}
{% endblock %}
